.title {
	font-size: 20px;
	font-weight: 700;
	color: white;
	cursor: pointer;
	user-select: none;
	text-align: center;
	margin-bottom: 10px;
}

.title:hover {
	color: antiquewhite;
}

.locationFormContainer {
	width: 300px;
	margin-bottom: 80px;
}
